<%- include ./partials/head.ejs %>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <%- include ./partials/navigation.ejs %>
            <div class="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">BTCEXCHANGE</a>
                        </li>
                        <li class="breadcrumb-item active">Transakcje Użytkownika</li>
                    </ol>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <i class="fa fa-table"></i>
                                            <strong> TWOJE OFERTY</strong>
                                        </div>
                                        <div class="card-body">
                                                <% if (user) { %>
                                                    <% if (user.verifiedEmail) { %>
                                                        <a href="/transaction/add" class="btn btn-sm btn-info">Dodaj Nową Ofertę</a><br><br>
                                                    <% } else { %>
                                                        Twoje konto jest w trakcje weryfikacji przez administratora.<br>Po pomyślnej weryfikacji dodawanie i korzystanie z ofert zostanie odblokowane.<br><br>
                                                    <% } %>
                                                <% } else { %>
                                                        Zaloguj się aby przyjmować i wystawiać oferty sprzedaży.
                                                <% } %>
                                                
                                            <% var x=0; for (i = 0; i < transData.length; i++) { if (transData[i].owner == user.id && transData[i].status == "OPEN") x++} if (x>0) {%>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>#ID</td>
                                                        <td>Ilość</td>
                                                        <td>Kurs</td>
                                                        <td>Cena Całkowita</td>
                                                        <td>Typ Oferty</td>
                                                        <td>Status</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <% for (i = transData.length -1; i >= 0; i--) { %>
                                                        <% if (user.id == transData[i].owner && transData[i].status == "OPEN") { %>
                                                            <tr>
                                                                <td><%= transData[i].id %></td>
                                                                <td><%= transData[i].units %></td>
                                                                <td><%= transData[i].price %></td>
                                                                <td>$<%= (transData[i].price * transData[i].units) %></td>
                                                                <td><%= transData[i].type %></td>
                                                                <% if (transData[i].status == "OPEN") { %>
                                                                <td><form method="post" action="/transaction/<%= transData[i].id %>?_method=delete"><button style="width: 100%;" class="btn btn-sm btn-danger">Usuń</button></form></td>
                                                                <% } else if (transData[i].status == "CLOSED") { %>
                                                                <td><button class="btn btn-sm btn-disabled" style="width: 100%;">Zamknięta</button></td>
                                                                <% } else if (transData[i].status == "FINISHED") { %>
                                                                <td><a class="btn btn-sm btn-success" href="/transaction/details/<%= transData[i].id %>" style="width: 100%;">Szczegóły</a></td>
                                                                <% } %>
                                                            </tr>
                                                        <% } %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <% } else { %>
                                                <p>Brak wystawionych ofert.</p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <i class="fa fa-table"></i>
                                            <strong> ZAAKCEPTOWANE OFERTY</strong>
                                        </div>
                                        <div class="card-body">
                                                <% var y=0; for (i = 0; i < transData.length; i++) { if (transData[i].status == "FINISHED" ) y++} if (y>0) {%>
                                                <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td>#ID</td>
                                                                <td>Ilość</td>
                                                                <td>Kurs</td>
                                                                <td>Cena Całkowita</td>
                                                                <td>Status</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (i = 0; i < transData.length; i++) { %>
                                                                <% if (transData[i].status == "FINISHED") { %>
                                                                    <tr>
                                                                        <td><%= transData[i].id %></td>
                                                                        <td><%= transData[i].units %></td>
                                                                        <td><%= transData[i].price %></td>
                                                                        <td>$<%= (transData[i].price * transData[i].units) %></td>
                                                                        <% if (transData[i].status == "OPEN") { %>
                                                                        <td><form method="post" action="/transaction/<%= transData[i].id %>?_method=delete"><button class="btn btn-sm btn-danger">Usuń</button></form></td>
                                                                        <% } else if (transData[i].status == "CLOSED") { %>
                                                                        <td><button class="btn btn-sm btn-disabled">Zamknięta</button></td>
                                                                        <% } else if (transData[i].status == "FINISHED") { %>
                                                                        <td><a class="btn btn-sm btn-success" href="/transaction/details/<%= transData[i].id %>">Szczegóły</a></td>
                                                                        <% } %>
                                                                    </tr>
                                                               <% } %>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                    <% } else { %>
                                                        <p>Nie przyjęto żadnych ofert do tej pory.</p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <%- include ./partials/footer.ejs %>